.PortfolioContainer {
    background-color: var(--color-footer);
}

.PortfolioContainer h1 {
	margin-bottom: 3rem;
    width: 100%;
	font-family: var(--font-header);
	font-size: 48px;
    line-height: 56px;
    user-select: none;
	color: white;
    box-shadow: -0.3em 0 #e43256;
}

.PortfolioBook{
	padding: 0 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 400px;
	width: 100%;
	margin-bottom: 2rem;
}

.Slide {
	width: 100px;
	height: 170px;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: color;
	box-shadow: -10px 10px #e43256;
	border-radius: 20px;
	transition: .3s;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	cursor: pointer;
}

.Slide p {
	opacity: 0;
	font-size: 20px;
	user-select: none;
	color: white;
	font-family: var(--font-text);
	transform: translateY(50px);
	transition: .3s;
}

.Slide:hover {
	box-shadow: -15px 15px #e43256;
}

.ActiveSlide {
	width: 300px;
	height: 400px;
	box-shadow: -15px 15px #e43256;
	cursor: auto;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: color;
	border-radius: 20px;
	transition: .3s;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.ActiveSlide p {
	opacity: 0;
	font-size: 20px;
	user-select: none;
	color: white;
	font-family: var(--font-text);
	transform: translateY(50px);
	transition: .3s;
}

.Arrow {
	color: var(--color-text);
	transition: .3s;
}

.Arrow:hover {
	cursor: pointer;
	color: white;
}

.ActiveSlide:hover {
    background-color: rgba(0, 0, 0, 0.608);
	box-shadow: -25px 25px #e43256;
}

.ActiveSlide:hover p {
	opacity: 100;
	transform: translateY(0);

}

.ProsContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 2rem;
}

.ProsContainer div {
	display: flex;
	align-items: center;
	flex: 1;
}

.ProsContainer div p {
	font-family: var(--font-text);
	color: white;
	margin-left: 1rem;
	font-size: 20px;
}

@media screen and (max-width: 1500px) {
	.Slide {
		display: none;
	}
}

@media screen and (max-width: 700px) {
    .PortfolioContainer h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .Slide p {
        font-size:  16px;
        line-height: 24px;
    }

    .ActiveSlide p {
		font-size:  16px;
        line-height: 24px;
	}

	.ActiveSlide {
		width: 220px;
		height: 320px;
	}

	.ProsContainer div p {
		font-size:  16px;
        line-height: 24px;
	}

	.ProsContainer {
		gap: 3rem;
	}
}

@media screen and (max-width: 550px) {
    .PortfolioContainer h1 {
        font-size: 26px;
        line-height: 48px;
    }

    .Slide p {
        font-size:  14px;
        line-height: 24px;
    }

    .ActiveSlide p {
		font-size:  14px;
        line-height: 24px;
	}

	.ProsContainer {
		flex-direction: column;
		align-items: center;
	}

	.ProsContainer div p {
		font-size:  16px;
        line-height: 24px;
	}

	.ProsContainer {
		flex-direction: column;
	}

	.ActiveSlide {
		width: 180px;
		height: 280px;
	}
}