.PortfolioSection {
    width: 70%;
    padding: 0 15%;
    padding-top: 4%;
    padding-bottom: 8%;
    height: 15%;
    background-color: #7c90b310;
}

.PortfolioSection h1 {
	margin-bottom: 1.8em;
    width: 100%;
    font-size: 3rem;
    user-select: none;
    box-shadow: -0.3em 0 #e43256;
}

.PortfolioBook{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 400px;
	width: 100%;
}

.Slide {
	width: 100px;
	height: 170px;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: color;
	box-shadow: -0.4em 0.4em #e43256;
	border-radius: 20px;
	transition: .3s;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.Slide p {
	opacity: 0;
	font-size: 1.3em;
	user-select: none;
	transform: translateY(50px);
	transition: .3s;
}

.Slide:hover {
	box-shadow: -1em 1em #e43256;
}

.ActiveSlide {
	width: 300px;
	height: 400px;
	box-shadow: -0.6em 0.6em #e43256;
}

.Arrow {
	color: #7c90b3;
	transition: .3s;
}

.Arrow:hover {
	cursor: pointer;
	color: white;
}

.ActiveSlide:hover {
    background-color: rgba(0, 0, 0, 0.608);
	box-shadow: -1.5em 1.5em #e43256;
}

.ActiveSlide:hover p {
	opacity: 100;
	transform: translateY(0);

}

.ProsSection {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 70%;
    padding: 0 15%;
    padding-top: 4%;
    padding-bottom: 4%;
    height: 5%;
}

.ProsSection div {
	display: flex;
	align-items: center;
	width: 40%;
}

.ProsSection div p {
	margin-left: 1.3em;
	font-size: 1.3em;
}