.ServiceSection {
    width: 70%;
    margin-top: 15%;
    padding: 0 15%;
}

.ServiceSection h1 {
    margin-top: 0;
    font-size: 3rem;
    user-select: none;
    box-shadow: -0.3em 0 #e43256;
}

.ServiceSection section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.ServiceCard {
    width: 32%;
    height: 10rem;
    margin-top: 2em;
    border-radius: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.2em;
    box-shadow: 0.4em 0.4em #e4325668;
    transition: .3s;
}

.ServiceCard p {
    transition: .3s;
}

.ServiceCard:hover {
    cursor: pointer;
    justify-content: center;
    box-shadow: 0.4em 0.4em #e43256;
}

.ServiceCard:hover p {
    transform: translateX(-2em);
    font-weight: bold;
}

.Wordmark {
    background-image: url('../../assets/Wordmark.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.4);
}

.Wordmark:hover {
    background-color: rgba(0, 0, 0, 0.611);
}

.Letterform {
    background-image: url('../../assets/Letterform.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.4);
}

.Letterform:hover {
    background-color: rgba(0, 0, 0, 0.611);
}

.Lettermark {
    background-image: url('../../assets/Lettermark.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.4);
}

.Lettermark:hover {
    background-color: rgba(0, 0, 0, 0.611);
}

.LogoSymb {
    background-image: url('../../assets/LogoSymb.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.4);
}

.LogoSymb:hover {
    background-color: rgba(0, 0, 0, 0.611);
}


.AbstractLogo {
    background-image: url('../../assets/AbstractLogo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.4);
}

.AbstractLogo:hover {
    background-color: rgba(0, 0, 0, 0.611);
}


.Mascot {
    background-image: url('../../assets/Mascot.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.4);
}

.Mascot:hover {
    background-color: rgba(0, 0, 0, 0.611);
}