.ServiceContainer {
    margin: 6rem 0;
}

.ServiceContainer h1 {
    font-family: var(--font-header);
    color: white;
    font-size: 48px;
    line-height: 56px;
    user-select: none;
    box-shadow: -0.3em 0 #e43256;
    margin-bottom: 2rem;
}

.ServiceContainer div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.ServiceCard {
    width: 470px;
    height: 180px;
    margin-top: 3rem;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    box-shadow: 10px 10px #e4325668;
    transition: .3s;
}

.ServiceCard p {
    font-family: var(--font-text);
    color: white;
    transition: .3s;
}

.ServiceCard:hover {
    cursor: pointer;
    justify-content: center;
    box-shadow: 10px 10px #e43256;
}

.ServiceCard:hover p {
    transform: translateX(-2em);
    font-weight: bold;
}

.Wordmark {
    background-image: url('../../assets/Wordmark.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.4);
}

.Wordmark:hover {
    background-color: rgba(0, 0, 0, 0.611);
}

.Letterform {
    background-image: url('../../assets/Letterform.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.4);
}

.Letterform:hover {
    background-color: rgba(0, 0, 0, 0.611);
}

.Lettermark {
    background-image: url('../../assets/Lettermark.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.4);
}

.Lettermark:hover {
    background-color: rgba(0, 0, 0, 0.611);
}

.LogoSymb {
    background-image: url('../../assets/LogoSymb.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.4);
}

.LogoSymb:hover {
    background-color: rgba(0, 0, 0, 0.611);
}


.AbstractLogo {
    background-image: url('../../assets/AbstractLogo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.4);
}

.AbstractLogo:hover {
    background-color: rgba(0, 0, 0, 0.611);
}


.Mascot {
    background-image: url('../../assets/Mascot.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.4);
}

.Mascot:hover {
    background-color: rgba(0, 0, 0, 0.611);
}

@media screen and (max-width: 1350px) {
    .ServiceContainer div {
        flex-direction: column;
    }
}

@media screen and (max-width: 700px) {
    .ServiceContainer h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .ServiceCard {
        width: 420px;
        height: 150px;
    }
}

@media screen and (max-width: 550px) {
    .ServiceContainer h1 {
        font-size: 26px;
        line-height: 48px;
    }

    .ServiceCard p {
        font-size: 18px;
    }

    .ServiceCard {
        width: 290px;
        height: 120px;
    }
}