.QualitiesContainer {
    background-color: var(--color-footer);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.QualitiesContainer h1 {
    width: 100%;
    font-family: var(--font-header);
    color: white;
    font-size: 48px;
    line-height: 56px;
    user-select: none;
    box-shadow: -0.3em 0 #451fc2;
}

.QualitiesContainer img {
    width: 45%;
    height: auto;
    border-radius: 20px;
    box-shadow: -2em 2em #451fc2;
    transform: translateY(-50px);
    user-select: none;
}

.QualitiesContainer p {
    margin: 2rem 0;
    font-family: var(--font-text);
    color: var(--color-text);
    font-size: large;
    width: 45%;
    font-size: 18px;
    line-height: 26px;
    text-align: end;
}

.StatsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.StatsContainer div {
    display: flex;
    align-items: center;
}

.StatsContainer div h1 {
    font-family: var(--font-header);
    font-size: 56px;
    font-weight: 100;
    margin-right: 0.6rem;
    color: var(--color-sec);
    
}

.StatsContainer div p {
    font-family: var(--font-text);
    font-size: 24px;
    font-weight: bold;
    color: white;
}

@media screen and (max-width: 1050px) {
    .QualitiesContainer {
        flex-direction: column;
    }

    .QualitiesContainer p {
        text-align: center;
        align-items: center;
        margin: 4rem 0;
        width: 100%;
    }

    .QualitiesContainer img {
        margin-top: 4rem;
        width: 80%;
    }

    .StatsContainer div h1 {
        font-size: 42px;
        line-height: 54px;
    }

    .StatsContainer div p {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 700px) {
    .QualitiesContainer h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .QualitiesContainer p {
        font-size:  16px;
        line-height: 24px;
    }

    .StatsContainer {
        flex-direction: column;
    }

    .StatsContainer div {
        margin: 1.5rem 0;
    }
}

@media screen and (max-width: 550px) {
    .QualitiesContainer h1 {
        font-size: 26px;
        line-height: 48px;
    }

    .QualitiesContainer p {
        font-size:  14px;
        line-height: 24px;
        padding: 0 1rem;
    }

}