.Section {
    width: 70%;
    margin-top: 12%;
    padding: 0 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.TextSection {
    width: 40%;
    animation: TextAnimation 2s;
}

.TextSection h1 {
    margin-top: 0;
    margin-bottom: 3rem;
    font-size: 4rem;
    user-select: none;
}

.TextSection p {
    color: #7c90b3;
    font-size: large;
    width: 85%;
    margin-bottom: 12%;
    line-height: 1.5em;
}

.ContactBtn {
	display: flex;
    user-select: none;
	align-items: center;
	justify-content: space-evenly;
	color: white;
	text-decoration: none;
	font-size: large;
	font-weight: bold;
	width: 11rem;
	height: 3rem;
    background-color: #451fc2;
	border: 3px solid #451fc2;
	border-radius: 50px;
	transition: .3s;
}

.ContactBtn:hover {
	background-color: transparent;
    cursor: pointer;
}

.sect {
    display: flex;
    align-items: center;
}

.pic {
    width: 50%;
    height: 50%;
    box-shadow: 3em 3em #e43256;
    animation: PicAnimation 2s;
}

@keyframes PicAnimation {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 100;
        transform: translateX(0);
    }
}

@keyframes TextAnimation {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 100;
        transform: translateX(0);
    }
}