.PaymentsContainer {
    background-color: #7c90b310;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.PaymentsContainer h1 {
	font-family: var(--font-header);
	color: white;
    margin-bottom: 5rem;
    font-size: 50px;
	line-height: 70px;
    user-select: none;
	box-shadow: 0 0.2em #e43256;
}

.PaymentsContainer section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.PlanCard {
	background-color: var(--color-bg);
	width: 350px;
	height: 550px;
	padding: 50px 0;
	border-radius: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	box-shadow: -2em 2em #0e0d174c;
	transform-style: preserve-3d;
	transition: .4s ease;
}

.PlanCard h1 {
	box-shadow: 0 0;
	margin: 0;
	width: 100%;
	text-align: center;
}

.PlanCard h3 {
	margin: 0;
	font-family: var(--font-text);
	font-weight: bold;
	color: var(--color-text);
	text-align: center;
	user-select: none;
	font-size: 24px;
}

.PlanCard p {
	font-family: var(--font-text);
	text-align: center;
	line-height: 38px;
	transition: .3s;
	font-weight: bold;
	color: var(--color-text);
}

.PlanCard:hover {
	box-shadow: 2em 2em #0e0d178f;
	transform: rotateY(180deg);
}

.PlanCardBack {
	position: absolute;
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	backface-visibility: hidden;
	transform: rotateY(180deg);
}

.PlanCardFront {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	backface-visibility: hidden;
}

.PlanCardBack a {
	font-family: var(--font-text);
	display: flex;
	user-select: none;
	align-items: center;
	justify-content: space-evenly;
	color: white;
	text-decoration: none;
	font-size: large;
	font-weight: bold;
	width: 160px;
	height: 50px;
	background-color: var(--color-prim);
	border: 3px solid var(--color-prim);
	border-radius: 50px;
	transition: .3s;
}
	
.PlanCardBack a:hover {
	background-color: transparent;
	cursor: pointer;
}

@media screen and (max-width: 1500px) {
	.PaymentsContainer section {
		flex-direction: column;
		gap: 5rem;
	}
}

@media screen and (max-width: 700px) {
    .PaymentsContainer h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .PlanCard p {
        font-size:  16px;
        line-height: 36px;
    }

	.PlanCard {
		width: 300px;
		height: 450px;
	}
}

@media screen and (max-width: 550px) {
    .PaymentsContainer h1 {
        font-size: 26px;
        line-height: 48px;
    }

	.PlanCard h3 {
		font-size: 18px;
        line-height: 34px;
	}

    .PlanCard p {
        font-size: 14px;
        line-height: 34px;
    }

	.PlanCard {
		width: 270px;
		height: 380px;
	}
}