.Logo img {
	width: 80px;
	height: 80px;
}

.Logo img:hover {
	cursor: pointer;
}

.NavContainer {
	width: 100%;
	font-family: var(--font-text);
	user-select: none;
	padding: 0.8rem 6rem;
	background-color: var(--color-bg);
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0 5px 5rem #2c2a4a8f;
	position: fixed;
	top: 0;
	z-index: 1;
}

.NavLinks {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.Link {
	color: white;
	font-size: 18px;
	transition: .3s;
	cursor: pointer;
	margin: 0 1rem;
}

.Link:hover {
	color: var(--color-sec);
}

.NavBtn {
	margin-left: 1rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.ContactBtn {
	border: 3px solid #451fc2;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 18px;
	font-weight: 600;
	width: 140px;
	height: 50px;
	border-radius: 30px;
	transition: .3s;
	cursor: pointer;
}

.ContactBtn:hover{
	background-color: var(--color-prim);
}

.MenuBtn {
	width: 80px;
	height: 80px;
	transform: scale(1.5);
	display: none;
}

@media screen and (max-width: 1050px) {
    .NavLinks {
        display: none;
    }

	.MenuBtn {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@media screen and (max-width: 700px) {
	.MenuBtn {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.NavContainer {
		padding: 0.8rem 4rem;
	}
}

@media screen and (max-width: 550px) {
	.NavContainer {
		padding: 0.8rem 2rem;
	}

	.NavBtn {
		display: none;
	}
}

.MenuCont {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #0e0d17;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Xmark {
	position: absolute;
	top: 5rem;
	transition: .3s;
}

.Xmark:hover {
	color: white;
	cursor: pointer;
}

.MenuNavPanel {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 45%;
}