.scrollBtn {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  border: 0;
  background-color: #7c90b3;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: .3s;
}

.scrollBtn:hover {
  cursor: pointer;
  background-color: white;
}

.invisible {
  opacity: 0;
}

.invisible:hover {
  cursor: auto;
}