.FooterCont {
	background-color: var(--color-footer);
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: var(--font-text)
}

.FooterCont h3 {
	color: var(--color-text);
	font-size: medium;
}

@media screen and (max-width: 550px) {

	.FooterCont h3 {
		font-size: 14px;
	}

}