.FooterCont {
	width: 100vw;
	height: 4rem;
	background-color: #0e0d17;
	position: fixed;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Lexend', sans-serif;
}

.FooterCont h3 {
	color: #7c90b3;
	font-size: medium;
}